.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.m-auto {
  margin: auto;
}

.font-size-1 {
  font-size: 1px;
  line-height: 100%;
}

.w-4 {
  width: 4px;
  min-width: 4px;
  max-width: 4px;
}

.min-w-4 {
  min-width: 4px !important;
}

.max-w-4 {
  max-width: 4px !important;
}

.h-4 {
  height: 4px;
  min-height: 4px;
  max-height: 4px;
}

.min-h-4 {
  min-height: 4px !important;
}

.max-h-4 {
  max-height: 4px !important;
}

.font-size-2 {
  font-size: 2px;
  line-height: 100%;
}

.w-8 {
  width: 8px;
  min-width: 8px;
  max-width: 8px;
}

.min-w-8 {
  min-width: 8px !important;
}

.max-w-8 {
  max-width: 8px !important;
}

.h-8 {
  height: 8px;
  min-height: 8px;
  max-height: 8px;
}

.min-h-8 {
  min-height: 8px !important;
}

.max-h-8 {
  max-height: 8px !important;
}

.font-size-3 {
  font-size: 3px;
  line-height: 100%;
}

.w-12 {
  width: 12px;
  min-width: 12px;
  max-width: 12px;
}

.min-w-12 {
  min-width: 12px !important;
}

.max-w-12 {
  max-width: 12px !important;
}

.h-12 {
  height: 12px;
  min-height: 12px;
  max-height: 12px;
}

.min-h-12 {
  min-height: 12px !important;
}

.max-h-12 {
  max-height: 12px !important;
}

.font-size-4 {
  font-size: 4px;
  line-height: 100%;
}

.w-16 {
  width: 16px;
  min-width: 16px;
  max-width: 16px;
}

.min-w-16 {
  min-width: 16px !important;
}

.max-w-16 {
  max-width: 16px !important;
}

.h-16 {
  height: 16px;
  min-height: 16px;
  max-height: 16px;
}

.min-h-16 {
  min-height: 16px !important;
}

.max-h-16 {
  max-height: 16px !important;
}

.font-size-5 {
  font-size: 5px;
  line-height: 100%;
}

.w-20 {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

.min-w-20 {
  min-width: 20px !important;
}

.max-w-20 {
  max-width: 20px !important;
}

.h-20 {
  height: 20px;
  min-height: 20px;
  max-height: 20px;
}

.min-h-20 {
  min-height: 20px !important;
}

.max-h-20 {
  max-height: 20px !important;
}

.font-size-6 {
  font-size: 6px;
  line-height: 100%;
}

.w-24 {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
}

.min-w-24 {
  min-width: 24px !important;
}

.max-w-24 {
  max-width: 24px !important;
}

.h-24 {
  height: 24px;
  min-height: 24px;
  max-height: 24px;
}

.min-h-24 {
  min-height: 24px !important;
}

.max-h-24 {
  max-height: 24px !important;
}

.font-size-7 {
  font-size: 7px;
  line-height: 100%;
}

.w-28 {
  width: 28px;
  min-width: 28px;
  max-width: 28px;
}

.min-w-28 {
  min-width: 28px !important;
}

.max-w-28 {
  max-width: 28px !important;
}

.h-28 {
  height: 28px;
  min-height: 28px;
  max-height: 28px;
}

.min-h-28 {
  min-height: 28px !important;
}

.max-h-28 {
  max-height: 28px !important;
}

.font-size-8 {
  font-size: 8px;
  line-height: 100%;
}

.w-32 {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
}

.min-w-32 {
  min-width: 32px !important;
}

.max-w-32 {
  max-width: 32px !important;
}

.h-32 {
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.min-h-32 {
  min-height: 32px !important;
}

.max-h-32 {
  max-height: 32px !important;
}

.font-size-9 {
  font-size: 9px;
  line-height: 100%;
}

.w-36 {
  width: 36px;
  min-width: 36px;
  max-width: 36px;
}

.min-w-36 {
  min-width: 36px !important;
}

.max-w-36 {
  max-width: 36px !important;
}

.h-36 {
  height: 36px;
  min-height: 36px;
  max-height: 36px;
}

.min-h-36 {
  min-height: 36px !important;
}

.max-h-36 {
  max-height: 36px !important;
}

.font-size-10 {
  font-size: 10px;
  line-height: 100%;
}

.w-40 {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}

.min-w-40 {
  min-width: 40px !important;
}

.max-w-40 {
  max-width: 40px !important;
}

.h-40 {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.min-h-40 {
  min-height: 40px !important;
}

.max-h-40 {
  max-height: 40px !important;
}

.font-size-11 {
  font-size: 11px;
  line-height: 100%;
}

.w-44 {
  width: 44px;
  min-width: 44px;
  max-width: 44px;
}

.min-w-44 {
  min-width: 44px !important;
}

.max-w-44 {
  max-width: 44px !important;
}

.h-44 {
  height: 44px;
  min-height: 44px;
  max-height: 44px;
}

.min-h-44 {
  min-height: 44px !important;
}

.max-h-44 {
  max-height: 44px !important;
}

.font-size-12 {
  font-size: 12px;
  line-height: 100%;
}

.w-48 {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
}

.min-w-48 {
  min-width: 48px !important;
}

.max-w-48 {
  max-width: 48px !important;
}

.h-48 {
  height: 48px;
  min-height: 48px;
  max-height: 48px;
}

.min-h-48 {
  min-height: 48px !important;
}

.max-h-48 {
  max-height: 48px !important;
}

.font-size-13 {
  font-size: 13px;
  line-height: 100%;
}

.w-52 {
  width: 52px;
  min-width: 52px;
  max-width: 52px;
}

.min-w-52 {
  min-width: 52px !important;
}

.max-w-52 {
  max-width: 52px !important;
}

.h-52 {
  height: 52px;
  min-height: 52px;
  max-height: 52px;
}

.min-h-52 {
  min-height: 52px !important;
}

.max-h-52 {
  max-height: 52px !important;
}

.font-size-14 {
  font-size: 14px;
  line-height: 100%;
}

.w-56 {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
}

.min-w-56 {
  min-width: 56px !important;
}

.max-w-56 {
  max-width: 56px !important;
}

.h-56 {
  height: 56px;
  min-height: 56px;
  max-height: 56px;
}

.min-h-56 {
  min-height: 56px !important;
}

.max-h-56 {
  max-height: 56px !important;
}

.font-size-15 {
  font-size: 15px;
  line-height: 100%;
}

.w-60 {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
}

.min-w-60 {
  min-width: 60px !important;
}

.max-w-60 {
  max-width: 60px !important;
}

.h-60 {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}

.min-h-60 {
  min-height: 60px !important;
}

.max-h-60 {
  max-height: 60px !important;
}

.font-size-16 {
  font-size: 16px;
  line-height: 100%;
}

.w-64 {
  width: 64px;
  min-width: 64px;
  max-width: 64px;
}

.min-w-64 {
  min-width: 64px !important;
}

.max-w-64 {
  max-width: 64px !important;
}

.h-64 {
  height: 64px;
  min-height: 64px;
  max-height: 64px;
}

.min-h-64 {
  min-height: 64px !important;
}

.max-h-64 {
  max-height: 64px !important;
}

.font-size-17 {
  font-size: 17px;
  line-height: 100%;
}

.w-68 {
  width: 68px;
  min-width: 68px;
  max-width: 68px;
}

.min-w-68 {
  min-width: 68px !important;
}

.max-w-68 {
  max-width: 68px !important;
}

.h-68 {
  height: 68px;
  min-height: 68px;
  max-height: 68px;
}

.min-h-68 {
  min-height: 68px !important;
}

.max-h-68 {
  max-height: 68px !important;
}

.font-size-18 {
  font-size: 18px;
  line-height: 100%;
}

.w-72 {
  width: 72px;
  min-width: 72px;
  max-width: 72px;
}

.min-w-72 {
  min-width: 72px !important;
}

.max-w-72 {
  max-width: 72px !important;
}

.h-72 {
  height: 72px;
  min-height: 72px;
  max-height: 72px;
}

.min-h-72 {
  min-height: 72px !important;
}

.max-h-72 {
  max-height: 72px !important;
}

.font-size-19 {
  font-size: 19px;
  line-height: 100%;
}

.w-76 {
  width: 76px;
  min-width: 76px;
  max-width: 76px;
}

.min-w-76 {
  min-width: 76px !important;
}

.max-w-76 {
  max-width: 76px !important;
}

.h-76 {
  height: 76px;
  min-height: 76px;
  max-height: 76px;
}

.min-h-76 {
  min-height: 76px !important;
}

.max-h-76 {
  max-height: 76px !important;
}

.font-size-20 {
  font-size: 20px;
  line-height: 100%;
}

.w-80 {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.min-w-80 {
  min-width: 80px !important;
}

.max-w-80 {
  max-width: 80px !important;
}

.h-80 {
  height: 80px;
  min-height: 80px;
  max-height: 80px;
}

.min-h-80 {
  min-height: 80px !important;
}

.max-h-80 {
  max-height: 80px !important;
}

.font-size-21 {
  font-size: 21px;
  line-height: 100%;
}

.w-84 {
  width: 84px;
  min-width: 84px;
  max-width: 84px;
}

.min-w-84 {
  min-width: 84px !important;
}

.max-w-84 {
  max-width: 84px !important;
}

.h-84 {
  height: 84px;
  min-height: 84px;
  max-height: 84px;
}

.min-h-84 {
  min-height: 84px !important;
}

.max-h-84 {
  max-height: 84px !important;
}

.font-size-22 {
  font-size: 22px;
  line-height: 100%;
}

.w-88 {
  width: 88px;
  min-width: 88px;
  max-width: 88px;
}

.min-w-88 {
  min-width: 88px !important;
}

.max-w-88 {
  max-width: 88px !important;
}

.h-88 {
  height: 88px;
  min-height: 88px;
  max-height: 88px;
}

.min-h-88 {
  min-height: 88px !important;
}

.max-h-88 {
  max-height: 88px !important;
}

.font-size-23 {
  font-size: 23px;
  line-height: 100%;
}

.w-92 {
  width: 92px;
  min-width: 92px;
  max-width: 92px;
}

.min-w-92 {
  min-width: 92px !important;
}

.max-w-92 {
  max-width: 92px !important;
}

.h-92 {
  height: 92px;
  min-height: 92px;
  max-height: 92px;
}

.min-h-92 {
  min-height: 92px !important;
}

.max-h-92 {
  max-height: 92px !important;
}

.font-size-24 {
  font-size: 24px;
  line-height: 100%;
}

.w-96 {
  width: 96px;
  min-width: 96px;
  max-width: 96px;
}

.min-w-96 {
  min-width: 96px !important;
}

.max-w-96 {
  max-width: 96px !important;
}

.h-96 {
  height: 96px;
  min-height: 96px;
  max-height: 96px;
}

.min-h-96 {
  min-height: 96px !important;
}

.max-h-96 {
  max-height: 96px !important;
}

.font-size-25 {
  font-size: 25px;
  line-height: 100%;
}

.w-100 {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.min-w-100 {
  min-width: 100px !important;
}

.max-w-100 {
  max-width: 100px !important;
}

.h-100 {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
}

.min-h-100 {
  min-height: 100px !important;
}

.max-h-100 {
  max-height: 100px !important;
}

.font-size-26 {
  font-size: 26px;
  line-height: 100%;
}

.w-104 {
  width: 104px;
  min-width: 104px;
  max-width: 104px;
}

.min-w-104 {
  min-width: 104px !important;
}

.max-w-104 {
  max-width: 104px !important;
}

.h-104 {
  height: 104px;
  min-height: 104px;
  max-height: 104px;
}

.min-h-104 {
  min-height: 104px !important;
}

.max-h-104 {
  max-height: 104px !important;
}

.font-size-27 {
  font-size: 27px;
  line-height: 100%;
}

.w-108 {
  width: 108px;
  min-width: 108px;
  max-width: 108px;
}

.min-w-108 {
  min-width: 108px !important;
}

.max-w-108 {
  max-width: 108px !important;
}

.h-108 {
  height: 108px;
  min-height: 108px;
  max-height: 108px;
}

.min-h-108 {
  min-height: 108px !important;
}

.max-h-108 {
  max-height: 108px !important;
}

.font-size-28 {
  font-size: 28px;
  line-height: 100%;
}

.w-112 {
  width: 112px;
  min-width: 112px;
  max-width: 112px;
}

.min-w-112 {
  min-width: 112px !important;
}

.max-w-112 {
  max-width: 112px !important;
}

.h-112 {
  height: 112px;
  min-height: 112px;
  max-height: 112px;
}

.min-h-112 {
  min-height: 112px !important;
}

.max-h-112 {
  max-height: 112px !important;
}

.font-size-29 {
  font-size: 29px;
  line-height: 100%;
}

.w-116 {
  width: 116px;
  min-width: 116px;
  max-width: 116px;
}

.min-w-116 {
  min-width: 116px !important;
}

.max-w-116 {
  max-width: 116px !important;
}

.h-116 {
  height: 116px;
  min-height: 116px;
  max-height: 116px;
}

.min-h-116 {
  min-height: 116px !important;
}

.max-h-116 {
  max-height: 116px !important;
}

.font-size-30 {
  font-size: 30px;
  line-height: 100%;
}

.w-120 {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}

.min-w-120 {
  min-width: 120px !important;
}

.max-w-120 {
  max-width: 120px !important;
}

.h-120 {
  height: 120px;
  min-height: 120px;
  max-height: 120px;
}

.min-h-120 {
  min-height: 120px !important;
}

.max-h-120 {
  max-height: 120px !important;
}

.font-size-31 {
  font-size: 31px;
  line-height: 100%;
}

.w-124 {
  width: 124px;
  min-width: 124px;
  max-width: 124px;
}

.min-w-124 {
  min-width: 124px !important;
}

.max-w-124 {
  max-width: 124px !important;
}

.h-124 {
  height: 124px;
  min-height: 124px;
  max-height: 124px;
}

.min-h-124 {
  min-height: 124px !important;
}

.max-h-124 {
  max-height: 124px !important;
}

.font-size-32 {
  font-size: 32px;
  line-height: 100%;
}

.w-128 {
  width: 128px;
  min-width: 128px;
  max-width: 128px;
}

.min-w-128 {
  min-width: 128px !important;
}

.max-w-128 {
  max-width: 128px !important;
}

.h-128 {
  height: 128px;
  min-height: 128px;
  max-height: 128px;
}

.min-h-128 {
  min-height: 128px !important;
}

.max-h-128 {
  max-height: 128px !important;
}

.font-size-33 {
  font-size: 33px;
  line-height: 100%;
}

.w-132 {
  width: 132px;
  min-width: 132px;
  max-width: 132px;
}

.min-w-132 {
  min-width: 132px !important;
}

.max-w-132 {
  max-width: 132px !important;
}

.h-132 {
  height: 132px;
  min-height: 132px;
  max-height: 132px;
}

.min-h-132 {
  min-height: 132px !important;
}

.max-h-132 {
  max-height: 132px !important;
}

.font-size-34 {
  font-size: 34px;
  line-height: 100%;
}

.w-136 {
  width: 136px;
  min-width: 136px;
  max-width: 136px;
}

.min-w-136 {
  min-width: 136px !important;
}

.max-w-136 {
  max-width: 136px !important;
}

.h-136 {
  height: 136px;
  min-height: 136px;
  max-height: 136px;
}

.min-h-136 {
  min-height: 136px !important;
}

.max-h-136 {
  max-height: 136px !important;
}

.font-size-35 {
  font-size: 35px;
  line-height: 100%;
}

.w-140 {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.min-w-140 {
  min-width: 140px !important;
}

.max-w-140 {
  max-width: 140px !important;
}

.h-140 {
  height: 140px;
  min-height: 140px;
  max-height: 140px;
}

.min-h-140 {
  min-height: 140px !important;
}

.max-h-140 {
  max-height: 140px !important;
}

.font-size-36 {
  font-size: 36px;
  line-height: 100%;
}

.w-144 {
  width: 144px;
  min-width: 144px;
  max-width: 144px;
}

.min-w-144 {
  min-width: 144px !important;
}

.max-w-144 {
  max-width: 144px !important;
}

.h-144 {
  height: 144px;
  min-height: 144px;
  max-height: 144px;
}

.min-h-144 {
  min-height: 144px !important;
}

.max-h-144 {
  max-height: 144px !important;
}

.font-size-37 {
  font-size: 37px;
  line-height: 100%;
}

.w-148 {
  width: 148px;
  min-width: 148px;
  max-width: 148px;
}

.min-w-148 {
  min-width: 148px !important;
}

.max-w-148 {
  max-width: 148px !important;
}

.h-148 {
  height: 148px;
  min-height: 148px;
  max-height: 148px;
}

.min-h-148 {
  min-height: 148px !important;
}

.max-h-148 {
  max-height: 148px !important;
}

.font-size-38 {
  font-size: 38px;
  line-height: 100%;
}

.w-152 {
  width: 152px;
  min-width: 152px;
  max-width: 152px;
}

.min-w-152 {
  min-width: 152px !important;
}

.max-w-152 {
  max-width: 152px !important;
}

.h-152 {
  height: 152px;
  min-height: 152px;
  max-height: 152px;
}

.min-h-152 {
  min-height: 152px !important;
}

.max-h-152 {
  max-height: 152px !important;
}

.font-size-39 {
  font-size: 39px;
  line-height: 100%;
}

.w-156 {
  width: 156px;
  min-width: 156px;
  max-width: 156px;
}

.min-w-156 {
  min-width: 156px !important;
}

.max-w-156 {
  max-width: 156px !important;
}

.h-156 {
  height: 156px;
  min-height: 156px;
  max-height: 156px;
}

.min-h-156 {
  min-height: 156px !important;
}

.max-h-156 {
  max-height: 156px !important;
}

.font-size-40 {
  font-size: 40px;
  line-height: 100%;
}

.w-160 {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.min-w-160 {
  min-width: 160px !important;
}

.max-w-160 {
  max-width: 160px !important;
}

.h-160 {
  height: 160px;
  min-height: 160px;
  max-height: 160px;
}

.min-h-160 {
  min-height: 160px !important;
}

.max-h-160 {
  max-height: 160px !important;
}

.font-size-41 {
  font-size: 41px;
  line-height: 100%;
}

.w-164 {
  width: 164px;
  min-width: 164px;
  max-width: 164px;
}

.min-w-164 {
  min-width: 164px !important;
}

.max-w-164 {
  max-width: 164px !important;
}

.h-164 {
  height: 164px;
  min-height: 164px;
  max-height: 164px;
}

.min-h-164 {
  min-height: 164px !important;
}

.max-h-164 {
  max-height: 164px !important;
}

.font-size-42 {
  font-size: 42px;
  line-height: 100%;
}

.w-168 {
  width: 168px;
  min-width: 168px;
  max-width: 168px;
}

.min-w-168 {
  min-width: 168px !important;
}

.max-w-168 {
  max-width: 168px !important;
}

.h-168 {
  height: 168px;
  min-height: 168px;
  max-height: 168px;
}

.min-h-168 {
  min-height: 168px !important;
}

.max-h-168 {
  max-height: 168px !important;
}

.font-size-43 {
  font-size: 43px;
  line-height: 100%;
}

.w-172 {
  width: 172px;
  min-width: 172px;
  max-width: 172px;
}

.min-w-172 {
  min-width: 172px !important;
}

.max-w-172 {
  max-width: 172px !important;
}

.h-172 {
  height: 172px;
  min-height: 172px;
  max-height: 172px;
}

.min-h-172 {
  min-height: 172px !important;
}

.max-h-172 {
  max-height: 172px !important;
}

.font-size-44 {
  font-size: 44px;
  line-height: 100%;
}

.w-176 {
  width: 176px;
  min-width: 176px;
  max-width: 176px;
}

.min-w-176 {
  min-width: 176px !important;
}

.max-w-176 {
  max-width: 176px !important;
}

.h-176 {
  height: 176px;
  min-height: 176px;
  max-height: 176px;
}

.min-h-176 {
  min-height: 176px !important;
}

.max-h-176 {
  max-height: 176px !important;
}

.font-size-45 {
  font-size: 45px;
  line-height: 100%;
}

.w-180 {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
}

.min-w-180 {
  min-width: 180px !important;
}

.max-w-180 {
  max-width: 180px !important;
}

.h-180 {
  height: 180px;
  min-height: 180px;
  max-height: 180px;
}

.min-h-180 {
  min-height: 180px !important;
}

.max-h-180 {
  max-height: 180px !important;
}

.font-size-46 {
  font-size: 46px;
  line-height: 100%;
}

.w-184 {
  width: 184px;
  min-width: 184px;
  max-width: 184px;
}

.min-w-184 {
  min-width: 184px !important;
}

.max-w-184 {
  max-width: 184px !important;
}

.h-184 {
  height: 184px;
  min-height: 184px;
  max-height: 184px;
}

.min-h-184 {
  min-height: 184px !important;
}

.max-h-184 {
  max-height: 184px !important;
}

.font-size-47 {
  font-size: 47px;
  line-height: 100%;
}

.w-188 {
  width: 188px;
  min-width: 188px;
  max-width: 188px;
}

.min-w-188 {
  min-width: 188px !important;
}

.max-w-188 {
  max-width: 188px !important;
}

.h-188 {
  height: 188px;
  min-height: 188px;
  max-height: 188px;
}

.min-h-188 {
  min-height: 188px !important;
}

.max-h-188 {
  max-height: 188px !important;
}

.font-size-48 {
  font-size: 48px;
  line-height: 100%;
}

.w-192 {
  width: 192px;
  min-width: 192px;
  max-width: 192px;
}

.min-w-192 {
  min-width: 192px !important;
}

.max-w-192 {
  max-width: 192px !important;
}

.h-192 {
  height: 192px;
  min-height: 192px;
  max-height: 192px;
}

.min-h-192 {
  min-height: 192px !important;
}

.max-h-192 {
  max-height: 192px !important;
}

.font-size-49 {
  font-size: 49px;
  line-height: 100%;
}

.w-196 {
  width: 196px;
  min-width: 196px;
  max-width: 196px;
}

.min-w-196 {
  min-width: 196px !important;
}

.max-w-196 {
  max-width: 196px !important;
}

.h-196 {
  height: 196px;
  min-height: 196px;
  max-height: 196px;
}

.min-h-196 {
  min-height: 196px !important;
}

.max-h-196 {
  max-height: 196px !important;
}

.font-size-50 {
  font-size: 50px;
  line-height: 100%;
}

.w-200 {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.min-w-200 {
  min-width: 200px !important;
}

.max-w-200 {
  max-width: 200px !important;
}

.h-200 {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
}

.min-h-200 {
  min-height: 200px !important;
}

.max-h-200 {
  max-height: 200px !important;
}

.font-size-51 {
  font-size: 51px;
  line-height: 100%;
}

.w-204 {
  width: 204px;
  min-width: 204px;
  max-width: 204px;
}

.min-w-204 {
  min-width: 204px !important;
}

.max-w-204 {
  max-width: 204px !important;
}

.h-204 {
  height: 204px;
  min-height: 204px;
  max-height: 204px;
}

.min-h-204 {
  min-height: 204px !important;
}

.max-h-204 {
  max-height: 204px !important;
}

.font-size-52 {
  font-size: 52px;
  line-height: 100%;
}

.w-208 {
  width: 208px;
  min-width: 208px;
  max-width: 208px;
}

.min-w-208 {
  min-width: 208px !important;
}

.max-w-208 {
  max-width: 208px !important;
}

.h-208 {
  height: 208px;
  min-height: 208px;
  max-height: 208px;
}

.min-h-208 {
  min-height: 208px !important;
}

.max-h-208 {
  max-height: 208px !important;
}

.font-size-53 {
  font-size: 53px;
  line-height: 100%;
}

.w-212 {
  width: 212px;
  min-width: 212px;
  max-width: 212px;
}

.min-w-212 {
  min-width: 212px !important;
}

.max-w-212 {
  max-width: 212px !important;
}

.h-212 {
  height: 212px;
  min-height: 212px;
  max-height: 212px;
}

.min-h-212 {
  min-height: 212px !important;
}

.max-h-212 {
  max-height: 212px !important;
}

.font-size-54 {
  font-size: 54px;
  line-height: 100%;
}

.w-216 {
  width: 216px;
  min-width: 216px;
  max-width: 216px;
}

.min-w-216 {
  min-width: 216px !important;
}

.max-w-216 {
  max-width: 216px !important;
}

.h-216 {
  height: 216px;
  min-height: 216px;
  max-height: 216px;
}

.min-h-216 {
  min-height: 216px !important;
}

.max-h-216 {
  max-height: 216px !important;
}

.font-size-55 {
  font-size: 55px;
  line-height: 100%;
}

.w-220 {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
}

.min-w-220 {
  min-width: 220px !important;
}

.max-w-220 {
  max-width: 220px !important;
}

.h-220 {
  height: 220px;
  min-height: 220px;
  max-height: 220px;
}

.min-h-220 {
  min-height: 220px !important;
}

.max-h-220 {
  max-height: 220px !important;
}

.font-size-56 {
  font-size: 56px;
  line-height: 100%;
}

.w-224 {
  width: 224px;
  min-width: 224px;
  max-width: 224px;
}

.min-w-224 {
  min-width: 224px !important;
}

.max-w-224 {
  max-width: 224px !important;
}

.h-224 {
  height: 224px;
  min-height: 224px;
  max-height: 224px;
}

.min-h-224 {
  min-height: 224px !important;
}

.max-h-224 {
  max-height: 224px !important;
}

.font-size-57 {
  font-size: 57px;
  line-height: 100%;
}

.w-228 {
  width: 228px;
  min-width: 228px;
  max-width: 228px;
}

.min-w-228 {
  min-width: 228px !important;
}

.max-w-228 {
  max-width: 228px !important;
}

.h-228 {
  height: 228px;
  min-height: 228px;
  max-height: 228px;
}

.min-h-228 {
  min-height: 228px !important;
}

.max-h-228 {
  max-height: 228px !important;
}

.font-size-58 {
  font-size: 58px;
  line-height: 100%;
}

.w-232 {
  width: 232px;
  min-width: 232px;
  max-width: 232px;
}

.min-w-232 {
  min-width: 232px !important;
}

.max-w-232 {
  max-width: 232px !important;
}

.h-232 {
  height: 232px;
  min-height: 232px;
  max-height: 232px;
}

.min-h-232 {
  min-height: 232px !important;
}

.max-h-232 {
  max-height: 232px !important;
}

.font-size-59 {
  font-size: 59px;
  line-height: 100%;
}

.w-236 {
  width: 236px;
  min-width: 236px;
  max-width: 236px;
}

.min-w-236 {
  min-width: 236px !important;
}

.max-w-236 {
  max-width: 236px !important;
}

.h-236 {
  height: 236px;
  min-height: 236px;
  max-height: 236px;
}

.min-h-236 {
  min-height: 236px !important;
}

.max-h-236 {
  max-height: 236px !important;
}

.font-size-60 {
  font-size: 60px;
  line-height: 100%;
}

.w-240 {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}

.min-w-240 {
  min-width: 240px !important;
}

.max-w-240 {
  max-width: 240px !important;
}

.h-240 {
  height: 240px;
  min-height: 240px;
  max-height: 240px;
}

.min-h-240 {
  min-height: 240px !important;
}

.max-h-240 {
  max-height: 240px !important;
}

.font-size-61 {
  font-size: 61px;
  line-height: 100%;
}

.w-244 {
  width: 244px;
  min-width: 244px;
  max-width: 244px;
}

.min-w-244 {
  min-width: 244px !important;
}

.max-w-244 {
  max-width: 244px !important;
}

.h-244 {
  height: 244px;
  min-height: 244px;
  max-height: 244px;
}

.min-h-244 {
  min-height: 244px !important;
}

.max-h-244 {
  max-height: 244px !important;
}

.font-size-62 {
  font-size: 62px;
  line-height: 100%;
}

.w-248 {
  width: 248px;
  min-width: 248px;
  max-width: 248px;
}

.min-w-248 {
  min-width: 248px !important;
}

.max-w-248 {
  max-width: 248px !important;
}

.h-248 {
  height: 248px;
  min-height: 248px;
  max-height: 248px;
}

.min-h-248 {
  min-height: 248px !important;
}

.max-h-248 {
  max-height: 248px !important;
}

.font-size-63 {
  font-size: 63px;
  line-height: 100%;
}

.w-252 {
  width: 252px;
  min-width: 252px;
  max-width: 252px;
}

.min-w-252 {
  min-width: 252px !important;
}

.max-w-252 {
  max-width: 252px !important;
}

.h-252 {
  height: 252px;
  min-height: 252px;
  max-height: 252px;
}

.min-h-252 {
  min-height: 252px !important;
}

.max-h-252 {
  max-height: 252px !important;
}

.font-size-64 {
  font-size: 64px;
  line-height: 100%;
}

.w-256 {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}

.min-w-256 {
  min-width: 256px !important;
}

.max-w-256 {
  max-width: 256px !important;
}

.h-256 {
  height: 256px;
  min-height: 256px;
  max-height: 256px;
}

.min-h-256 {
  min-height: 256px !important;
}

.max-h-256 {
  max-height: 256px !important;
}

.font-size-65 {
  font-size: 65px;
  line-height: 100%;
}

.w-260 {
  width: 260px;
  min-width: 260px;
  max-width: 260px;
}

.min-w-260 {
  min-width: 260px !important;
}

.max-w-260 {
  max-width: 260px !important;
}

.h-260 {
  height: 260px;
  min-height: 260px;
  max-height: 260px;
}

.min-h-260 {
  min-height: 260px !important;
}

.max-h-260 {
  max-height: 260px !important;
}

.font-size-66 {
  font-size: 66px;
  line-height: 100%;
}

.w-264 {
  width: 264px;
  min-width: 264px;
  max-width: 264px;
}

.min-w-264 {
  min-width: 264px !important;
}

.max-w-264 {
  max-width: 264px !important;
}

.h-264 {
  height: 264px;
  min-height: 264px;
  max-height: 264px;
}

.min-h-264 {
  min-height: 264px !important;
}

.max-h-264 {
  max-height: 264px !important;
}

.font-size-67 {
  font-size: 67px;
  line-height: 100%;
}

.w-268 {
  width: 268px;
  min-width: 268px;
  max-width: 268px;
}

.min-w-268 {
  min-width: 268px !important;
}

.max-w-268 {
  max-width: 268px !important;
}

.h-268 {
  height: 268px;
  min-height: 268px;
  max-height: 268px;
}

.min-h-268 {
  min-height: 268px !important;
}

.max-h-268 {
  max-height: 268px !important;
}

.font-size-68 {
  font-size: 68px;
  line-height: 100%;
}

.w-272 {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}

.min-w-272 {
  min-width: 272px !important;
}

.max-w-272 {
  max-width: 272px !important;
}

.h-272 {
  height: 272px;
  min-height: 272px;
  max-height: 272px;
}

.min-h-272 {
  min-height: 272px !important;
}

.max-h-272 {
  max-height: 272px !important;
}

.font-size-69 {
  font-size: 69px;
  line-height: 100%;
}

.w-276 {
  width: 276px;
  min-width: 276px;
  max-width: 276px;
}

.min-w-276 {
  min-width: 276px !important;
}

.max-w-276 {
  max-width: 276px !important;
}

.h-276 {
  height: 276px;
  min-height: 276px;
  max-height: 276px;
}

.min-h-276 {
  min-height: 276px !important;
}

.max-h-276 {
  max-height: 276px !important;
}

.font-size-70 {
  font-size: 70px;
  line-height: 100%;
}

.w-280 {
  width: 280px;
  min-width: 280px;
  max-width: 280px;
}

.min-w-280 {
  min-width: 280px !important;
}

.max-w-280 {
  max-width: 280px !important;
}

.h-280 {
  height: 280px;
  min-height: 280px;
  max-height: 280px;
}

.min-h-280 {
  min-height: 280px !important;
}

.max-h-280 {
  max-height: 280px !important;
}

.font-size-71 {
  font-size: 71px;
  line-height: 100%;
}

.w-284 {
  width: 284px;
  min-width: 284px;
  max-width: 284px;
}

.min-w-284 {
  min-width: 284px !important;
}

.max-w-284 {
  max-width: 284px !important;
}

.h-284 {
  height: 284px;
  min-height: 284px;
  max-height: 284px;
}

.min-h-284 {
  min-height: 284px !important;
}

.max-h-284 {
  max-height: 284px !important;
}

.font-size-72 {
  font-size: 72px;
  line-height: 100%;
}

.w-288 {
  width: 288px;
  min-width: 288px;
  max-width: 288px;
}

.min-w-288 {
  min-width: 288px !important;
}

.max-w-288 {
  max-width: 288px !important;
}

.h-288 {
  height: 288px;
  min-height: 288px;
  max-height: 288px;
}

.min-h-288 {
  min-height: 288px !important;
}

.max-h-288 {
  max-height: 288px !important;
}

.font-size-73 {
  font-size: 73px;
  line-height: 100%;
}

.w-292 {
  width: 292px;
  min-width: 292px;
  max-width: 292px;
}

.min-w-292 {
  min-width: 292px !important;
}

.max-w-292 {
  max-width: 292px !important;
}

.h-292 {
  height: 292px;
  min-height: 292px;
  max-height: 292px;
}

.min-h-292 {
  min-height: 292px !important;
}

.max-h-292 {
  max-height: 292px !important;
}

.font-size-74 {
  font-size: 74px;
  line-height: 100%;
}

.w-296 {
  width: 296px;
  min-width: 296px;
  max-width: 296px;
}

.min-w-296 {
  min-width: 296px !important;
}

.max-w-296 {
  max-width: 296px !important;
}

.h-296 {
  height: 296px;
  min-height: 296px;
  max-height: 296px;
}

.min-h-296 {
  min-height: 296px !important;
}

.max-h-296 {
  max-height: 296px !important;
}

.font-size-75 {
  font-size: 75px;
  line-height: 100%;
}

.w-300 {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

.min-w-300 {
  min-width: 300px !important;
}

.max-w-300 {
  max-width: 300px !important;
}

.h-300 {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.min-h-300 {
  min-height: 300px !important;
}

.max-h-300 {
  max-height: 300px !important;
}

.font-size-76 {
  font-size: 76px;
  line-height: 100%;
}

.w-304 {
  width: 304px;
  min-width: 304px;
  max-width: 304px;
}

.min-w-304 {
  min-width: 304px !important;
}

.max-w-304 {
  max-width: 304px !important;
}

.h-304 {
  height: 304px;
  min-height: 304px;
  max-height: 304px;
}

.min-h-304 {
  min-height: 304px !important;
}

.max-h-304 {
  max-height: 304px !important;
}

.font-size-77 {
  font-size: 77px;
  line-height: 100%;
}

.w-308 {
  width: 308px;
  min-width: 308px;
  max-width: 308px;
}

.min-w-308 {
  min-width: 308px !important;
}

.max-w-308 {
  max-width: 308px !important;
}

.h-308 {
  height: 308px;
  min-height: 308px;
  max-height: 308px;
}

.min-h-308 {
  min-height: 308px !important;
}

.max-h-308 {
  max-height: 308px !important;
}

.font-size-78 {
  font-size: 78px;
  line-height: 100%;
}

.w-312 {
  width: 312px;
  min-width: 312px;
  max-width: 312px;
}

.min-w-312 {
  min-width: 312px !important;
}

.max-w-312 {
  max-width: 312px !important;
}

.h-312 {
  height: 312px;
  min-height: 312px;
  max-height: 312px;
}

.min-h-312 {
  min-height: 312px !important;
}

.max-h-312 {
  max-height: 312px !important;
}

.font-size-79 {
  font-size: 79px;
  line-height: 100%;
}

.w-316 {
  width: 316px;
  min-width: 316px;
  max-width: 316px;
}

.min-w-316 {
  min-width: 316px !important;
}

.max-w-316 {
  max-width: 316px !important;
}

.h-316 {
  height: 316px;
  min-height: 316px;
  max-height: 316px;
}

.min-h-316 {
  min-height: 316px !important;
}

.max-h-316 {
  max-height: 316px !important;
}

.font-size-80 {
  font-size: 80px;
  line-height: 100%;
}

.w-320 {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
}

.min-w-320 {
  min-width: 320px !important;
}

.max-w-320 {
  max-width: 320px !important;
}

.h-320 {
  height: 320px;
  min-height: 320px;
  max-height: 320px;
}

.min-h-320 {
  min-height: 320px !important;
}

.max-h-320 {
  max-height: 320px !important;
}

.font-size-81 {
  font-size: 81px;
  line-height: 100%;
}

.w-324 {
  width: 324px;
  min-width: 324px;
  max-width: 324px;
}

.min-w-324 {
  min-width: 324px !important;
}

.max-w-324 {
  max-width: 324px !important;
}

.h-324 {
  height: 324px;
  min-height: 324px;
  max-height: 324px;
}

.min-h-324 {
  min-height: 324px !important;
}

.max-h-324 {
  max-height: 324px !important;
}

.font-size-82 {
  font-size: 82px;
  line-height: 100%;
}

.w-328 {
  width: 328px;
  min-width: 328px;
  max-width: 328px;
}

.min-w-328 {
  min-width: 328px !important;
}

.max-w-328 {
  max-width: 328px !important;
}

.h-328 {
  height: 328px;
  min-height: 328px;
  max-height: 328px;
}

.min-h-328 {
  min-height: 328px !important;
}

.max-h-328 {
  max-height: 328px !important;
}

.font-size-83 {
  font-size: 83px;
  line-height: 100%;
}

.w-332 {
  width: 332px;
  min-width: 332px;
  max-width: 332px;
}

.min-w-332 {
  min-width: 332px !important;
}

.max-w-332 {
  max-width: 332px !important;
}

.h-332 {
  height: 332px;
  min-height: 332px;
  max-height: 332px;
}

.min-h-332 {
  min-height: 332px !important;
}

.max-h-332 {
  max-height: 332px !important;
}

.font-size-84 {
  font-size: 84px;
  line-height: 100%;
}

.w-336 {
  width: 336px;
  min-width: 336px;
  max-width: 336px;
}

.min-w-336 {
  min-width: 336px !important;
}

.max-w-336 {
  max-width: 336px !important;
}

.h-336 {
  height: 336px;
  min-height: 336px;
  max-height: 336px;
}

.min-h-336 {
  min-height: 336px !important;
}

.max-h-336 {
  max-height: 336px !important;
}

.font-size-85 {
  font-size: 85px;
  line-height: 100%;
}

.w-340 {
  width: 340px;
  min-width: 340px;
  max-width: 340px;
}

.min-w-340 {
  min-width: 340px !important;
}

.max-w-340 {
  max-width: 340px !important;
}

.h-340 {
  height: 340px;
  min-height: 340px;
  max-height: 340px;
}

.min-h-340 {
  min-height: 340px !important;
}

.max-h-340 {
  max-height: 340px !important;
}

.font-size-86 {
  font-size: 86px;
  line-height: 100%;
}

.w-344 {
  width: 344px;
  min-width: 344px;
  max-width: 344px;
}

.min-w-344 {
  min-width: 344px !important;
}

.max-w-344 {
  max-width: 344px !important;
}

.h-344 {
  height: 344px;
  min-height: 344px;
  max-height: 344px;
}

.min-h-344 {
  min-height: 344px !important;
}

.max-h-344 {
  max-height: 344px !important;
}

.font-size-87 {
  font-size: 87px;
  line-height: 100%;
}

.w-348 {
  width: 348px;
  min-width: 348px;
  max-width: 348px;
}

.min-w-348 {
  min-width: 348px !important;
}

.max-w-348 {
  max-width: 348px !important;
}

.h-348 {
  height: 348px;
  min-height: 348px;
  max-height: 348px;
}

.min-h-348 {
  min-height: 348px !important;
}

.max-h-348 {
  max-height: 348px !important;
}

.font-size-88 {
  font-size: 88px;
  line-height: 100%;
}

.w-352 {
  width: 352px;
  min-width: 352px;
  max-width: 352px;
}

.min-w-352 {
  min-width: 352px !important;
}

.max-w-352 {
  max-width: 352px !important;
}

.h-352 {
  height: 352px;
  min-height: 352px;
  max-height: 352px;
}

.min-h-352 {
  min-height: 352px !important;
}

.max-h-352 {
  max-height: 352px !important;
}

.font-size-89 {
  font-size: 89px;
  line-height: 100%;
}

.w-356 {
  width: 356px;
  min-width: 356px;
  max-width: 356px;
}

.min-w-356 {
  min-width: 356px !important;
}

.max-w-356 {
  max-width: 356px !important;
}

.h-356 {
  height: 356px;
  min-height: 356px;
  max-height: 356px;
}

.min-h-356 {
  min-height: 356px !important;
}

.max-h-356 {
  max-height: 356px !important;
}

.font-size-90 {
  font-size: 90px;
  line-height: 100%;
}

.w-360 {
  width: 360px;
  min-width: 360px;
  max-width: 360px;
}

.min-w-360 {
  min-width: 360px !important;
}

.max-w-360 {
  max-width: 360px !important;
}

.h-360 {
  height: 360px;
  min-height: 360px;
  max-height: 360px;
}

.min-h-360 {
  min-height: 360px !important;
}

.max-h-360 {
  max-height: 360px !important;
}

.font-size-91 {
  font-size: 91px;
  line-height: 100%;
}

.w-364 {
  width: 364px;
  min-width: 364px;
  max-width: 364px;
}

.min-w-364 {
  min-width: 364px !important;
}

.max-w-364 {
  max-width: 364px !important;
}

.h-364 {
  height: 364px;
  min-height: 364px;
  max-height: 364px;
}

.min-h-364 {
  min-height: 364px !important;
}

.max-h-364 {
  max-height: 364px !important;
}

.font-size-92 {
  font-size: 92px;
  line-height: 100%;
}

.w-368 {
  width: 368px;
  min-width: 368px;
  max-width: 368px;
}

.min-w-368 {
  min-width: 368px !important;
}

.max-w-368 {
  max-width: 368px !important;
}

.h-368 {
  height: 368px;
  min-height: 368px;
  max-height: 368px;
}

.min-h-368 {
  min-height: 368px !important;
}

.max-h-368 {
  max-height: 368px !important;
}

.font-size-93 {
  font-size: 93px;
  line-height: 100%;
}

.w-372 {
  width: 372px;
  min-width: 372px;
  max-width: 372px;
}

.min-w-372 {
  min-width: 372px !important;
}

.max-w-372 {
  max-width: 372px !important;
}

.h-372 {
  height: 372px;
  min-height: 372px;
  max-height: 372px;
}

.min-h-372 {
  min-height: 372px !important;
}

.max-h-372 {
  max-height: 372px !important;
}

.font-size-94 {
  font-size: 94px;
  line-height: 100%;
}

.w-376 {
  width: 376px;
  min-width: 376px;
  max-width: 376px;
}

.min-w-376 {
  min-width: 376px !important;
}

.max-w-376 {
  max-width: 376px !important;
}

.h-376 {
  height: 376px;
  min-height: 376px;
  max-height: 376px;
}

.min-h-376 {
  min-height: 376px !important;
}

.max-h-376 {
  max-height: 376px !important;
}

.font-size-95 {
  font-size: 95px;
  line-height: 100%;
}

.w-380 {
  width: 380px;
  min-width: 380px;
  max-width: 380px;
}

.min-w-380 {
  min-width: 380px !important;
}

.max-w-380 {
  max-width: 380px !important;
}

.h-380 {
  height: 380px;
  min-height: 380px;
  max-height: 380px;
}

.min-h-380 {
  min-height: 380px !important;
}

.max-h-380 {
  max-height: 380px !important;
}

.font-size-96 {
  font-size: 96px;
  line-height: 100%;
}

.w-384 {
  width: 384px;
  min-width: 384px;
  max-width: 384px;
}

.min-w-384 {
  min-width: 384px !important;
}

.max-w-384 {
  max-width: 384px !important;
}

.h-384 {
  height: 384px;
  min-height: 384px;
  max-height: 384px;
}

.min-h-384 {
  min-height: 384px !important;
}

.max-h-384 {
  max-height: 384px !important;
}

.font-size-97 {
  font-size: 97px;
  line-height: 100%;
}

.w-388 {
  width: 388px;
  min-width: 388px;
  max-width: 388px;
}

.min-w-388 {
  min-width: 388px !important;
}

.max-w-388 {
  max-width: 388px !important;
}

.h-388 {
  height: 388px;
  min-height: 388px;
  max-height: 388px;
}

.min-h-388 {
  min-height: 388px !important;
}

.max-h-388 {
  max-height: 388px !important;
}

.font-size-98 {
  font-size: 98px;
  line-height: 100%;
}

.w-392 {
  width: 392px;
  min-width: 392px;
  max-width: 392px;
}

.min-w-392 {
  min-width: 392px !important;
}

.max-w-392 {
  max-width: 392px !important;
}

.h-392 {
  height: 392px;
  min-height: 392px;
  max-height: 392px;
}

.min-h-392 {
  min-height: 392px !important;
}

.max-h-392 {
  max-height: 392px !important;
}

.font-size-99 {
  font-size: 99px;
  line-height: 100%;
}

.w-396 {
  width: 396px;
  min-width: 396px;
  max-width: 396px;
}

.min-w-396 {
  min-width: 396px !important;
}

.max-w-396 {
  max-width: 396px !important;
}

.h-396 {
  height: 396px;
  min-height: 396px;
  max-height: 396px;
}

.min-h-396 {
  min-height: 396px !important;
}

.max-h-396 {
  max-height: 396px !important;
}

.font-size-100 {
  font-size: 100px;
  line-height: 100%;
}

.w-400 {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.min-w-400 {
  min-width: 400px !important;
}

.max-w-400 {
  max-width: 400px !important;
}

.h-400 {
  height: 400px;
  min-height: 400px;
  max-height: 400px;
}

.min-h-400 {
  min-height: 400px !important;
}

.max-h-400 {
  max-height: 400px !important;
}

.w-5-p {
  width: 5%;
}

.w-10-p {
  width: 10%;
}

.w-15-p {
  width: 15%;
}

.w-20-p {
  width: 20%;
}

.w-25-p {
  width: 25%;
}

.w-30-p {
  width: 30%;
}

.w-35-p {
  width: 35%;
}

.w-40-p {
  width: 40%;
}

.w-45-p {
  width: 45%;
}

.w-50-p {
  width: 50%;
}

.w-55-p {
  width: 55%;
}

.w-60-p {
  width: 60%;
}

.w-65-p {
  width: 65%;
}

.w-70-p {
  width: 70%;
}

.w-75-p {
  width: 75%;
}

.w-80-p {
  width: 80%;
}

.w-85-p {
  width: 85%;
}

.w-90-p {
  width: 90%;
}

.w-95-p {
  width: 95%;
}

.w-100-p {
  width: 100%;
}

.px-4 {
  padding-right: 4px;
  padding-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.m-4 {
  margin: 4px;
}

.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.rounded-4 {
  border-radius: 4px !important;
}

.px-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.m-8 {
  margin: 8px;
}

.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.rounded-8 {
  border-radius: 8px !important;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.m-12 {
  margin: 12px;
}

.mx-12 {
  margin-right: 12px;
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.rounded-12 {
  border-radius: 12px !important;
}

.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.rounded-16 {
  border-radius: 16px !important;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.rounded-20 {
  border-radius: 20px !important;
}

.px-24 {
  padding-right: 24px;
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-right: 24px;
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.rounded-24 {
  border-radius: 24px !important;
}

.px-28 {
  padding-right: 28px;
  padding-left: 28px;
}

.pr-28 {
  padding-right: 28px;
}

.pl-28 {
  padding-left: 28px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.pt-28 {
  padding-top: 28px;
}

.pb-28 {
  padding-bottom: 28px;
}

.m-28 {
  margin: 28px;
}

.mx-28 {
  margin-right: 28px;
  margin-left: 28px;
}

.mr-28 {
  margin-right: 28px;
}

.ml-28 {
  margin-left: 28px;
}

.my-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.mb-28 {
  margin-bottom: 28px;
}

.rounded-28 {
  border-radius: 28px !important;
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.m-32 {
  margin: 32px;
}

.mx-32 {
  margin-right: 32px;
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.rounded-32 {
  border-radius: 32px !important;
}

.px-36 {
  padding-right: 36px;
  padding-left: 36px;
}

.pr-36 {
  padding-right: 36px;
}

.pl-36 {
  padding-left: 36px;
}

.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.pt-36 {
  padding-top: 36px;
}

.pb-36 {
  padding-bottom: 36px;
}

.m-36 {
  margin: 36px;
}

.mx-36 {
  margin-right: 36px;
  margin-left: 36px;
}

.mr-36 {
  margin-right: 36px;
}

.ml-36 {
  margin-left: 36px;
}

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mt-36 {
  margin-top: 36px;
}

.mb-36 {
  margin-bottom: 36px;
}

.rounded-36 {
  border-radius: 36px !important;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.m-40 {
  margin: 40px;
}

.mx-40 {
  margin-right: 40px;
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.rounded-40 {
  border-radius: 40px !important;
}

/*# sourceMappingURL=dimensions.css.map */
